@use "variables" as *;
@use "mixins" as *;

#menu {
  position: sticky;
  background-color: $greenyellow;
  top: 0;
  padding: 5%;
  text-align: center;
    p {
      @include bloqueCentral;
      margin: 2%;
    }

  a:hover {
    color: $red;
    text-decoration: none;
  }
}
